PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_NAME=myuang_db
DB_USER=postgres
DB_PASSWORD=admin123

JWT_ACCESS_SECRET=13b955c26ca8dd9d6sdklahsdakgakslg29f2d4c3c1becbb41de9384b847f334e8d8fc34cd303f0d
JWT_REFRESH_SECRET=f3ab53c322d5sajdngkjsfanglk40779b890dac5e664b0768ae7ce9ca22d83f13b629c31fc7a578
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
JWT_TEMP_EXPIRES=5m

GOOGLE_CLIENT_ID=1082013432343453450163-bbsgseksangkdnfg5n275hltcgd2p9r5b4krgksbmv.apps.googleusercontent.com

CLIENT_URL=https://bgdr3s45-3000.asse.devtunnels.ms

SUPABASE_URL=https://osylfabhbdyhqjacimnl.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cjdhdfjkhdsfCI6IkpXVCJ9.eyJpc3MiOakflkjsfghdskfgiJzdXBhYmFzZSIsInJlZiI6Im9zeWxmYWJoYmR5aHFqYWNpbW5sIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzU3OTExNCwiZXhwIjoyMDkzMTU1MTE0fQ.uajHSZ7OFEcODX3jmlh-367q0jWcWE58QIpFWasHYj4
SUPABASE_BUCKET=myuang

MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USER=fcfesdkngkjsafngla6
MAILTRAP_PASS=344673f0bcefdsgjwba
APP_URL=https://bgdr3ssdajfnkfgs45-8100.asse.devtunnels.ms